@charset "utf-8";
/* 롯데리아촵땡겨체 */
@font-face {
    font-family: 'LOTTERIACHABA1';
    src: url('font/롯데리아촵땡겨체/LOTTERIACHABA1.eot');
    src: url('font/롯데리아촵땡겨체/LOTTERIACHABA1.eot?#iefix') format('embedded-opentype'),
        url('font/롯데리아촵땡겨체/LOTTERIACHABA1.woff2') format('woff2'),
        url('font/롯데리아촵땡겨체/LOTTERIACHABA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* 넥슨메이플스토리 */
@font-face {
    font-family: 'Maplestory';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Maplestory';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Maplestory/Maplestory-Bold.ttf') format('truetype');
}

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Thin.eot');
    src: url('font/프리텐다드/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Thin.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Regular.eot');
    src: url('font/프리텐다드/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Regular.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-SemiBold.eot');
    src: url('font/프리텐다드/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Light.eot');
    src: url('font/프리텐다드/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Light.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Black.eot');
    src: url('font/프리텐다드/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Black.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Bold.eot');
    src: url('font/프리텐다드/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Bold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraBold.eot');
    src: url('font/프리텐다드/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot');
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Medium.eot');
    src: url('font/프리텐다드/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Medium.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
}
body.on {
    overflow: hidden;
}
.mobile {
    display: none;
}
.collection_mobile {
    display: none;
}
.custom_mobile {
    display: none;
}
.custom_mobile-02 {
    display: none;
}
.bt_footer_mobile {
    display: none;
}

/* header */
.header {
    height: 167px;
}
.header .inner {
    width: 100%;
    margin: 0 auto;
}

.header .inner .notice_top {
    width: 100%;
    height: 40px;
    background-color: #000;
}
.header .inner .notice_top p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
}
.header_wrap {
    max-width: 1440px;
    width: calc(100% - 40px);
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_wrap .header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_wrap .logo {
    height: 60px;
}
.header_wrap .logo a {
    display: block;
    height: 100%;
}
.header_wrap .logo a img {
    height: 100%;
    display: block;
}

/* #menu_bg */
#menu_bg {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 450px;
    display: none;
    z-index: 2;
}
#menu_bg .inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
}
#menu_bg .inner .image {
    position: absolute;
    right: 30px;
    top: 75px;
}
#menu_bg .inner .image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/* menu_pc */
.header_wrap .menu_pc .gnb {
    display: flex;
}
.header_wrap .menu_pc .gnb > li {
    white-space: nowrap; /* 공간 부족으로 글자 밑으로 떨어지는 것 막기 */
    position: relative;
}
.header_wrap .menu_pc .gnb > li > .depth01 {
    font-size: 16px;
    font-weight: bold;
    line-height: 80px;
    padding: 20px;
}
.header_wrap .menu_pc .gnb > li:hover .depth01 {
    color: #78B60B;
}
.header_wrap .menu_pc .gnb > li > .depth02 {
    position: absolute;
    left: 0;
    top: 80px;
    height: 450px;
    background-color: #fff;
    display: none;
    z-index: 3;
}
.header_wrap .menu_pc .gnb > li > .depth02 >li {
    padding: 10px 10px;
    text-align: left;
}
.header_wrap .menu_pc .gnb > li > .depth02 >li:hover {
    text-decoration: underline;
}
.header_wrap .menu_pc .gnb > li:nth-child(4) li:nth-child(1) {
    font-weight: bold;
    text-decoration: none;
}
.header_wrap .menu_pc .gnb > li:nth-child(4) li:nth-child(6) {
    font-weight: bold;
    text-decoration: none;
}

/* icon */
.header .inner .header_wrap .icon ul {
    display: flex;
    gap: 24px;
}
.header .inner .header_wrap .icon li img {
    width: 24px;
}
.header .inner .header_wrap .icon .search_bar {
    display: flex;
    justify-content: space-between;
    width: 190px;
    height: 40px;
    position: relative;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 25px;
}
.header .inner .header_wrap .icon input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border-radius: 25px;
    border: none;
}
.header .inner .header_wrap .icon ul {
    line-height: 80px;
}
.header .inner .header_wrap .icon .search_icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
}
.header .inner .header_wrap .icon .search_icon img {
    width: 18px;
    display: block;
}
.header .inner .notice_bt {
    width: 100%;
    height: 47px;
    background-color: #94E80B;
    text-align: center;
    line-height: 47px;
}

/* main_visual */
.main_visual {
    width: 100%;
    max-height: 824px;
    height: 57.22vw;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contents */
.contents {
    width: 100%;
    margin: 0 auto;
    padding: 160px 0;
}
.contents .wrap {
    max-width: 1920px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
}
.contents .wrap .sale {
    width: 33%;
}
.contents .wrap .sale h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
    text-align: center;
    margin-bottom: 40px;
}
.contents .wrap .sale h2:hover {
    color:#94E80B;
}
.contents .wrap .sale img {
    width: 100%;
    max-height: 524px;
    height: 36.38vw;
    object-fit: cover;
    border-radius: 50px;
}
.contents .wrap .new {
    width: 33%;
}
.contents .wrap .new h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
    text-align: center;
    margin-bottom: 40px;
}
.contents .wrap .new h2:hover {
    color:#94E80B;
}
.contents .wrap .new img {
    width: 100%;
    max-height: 524px;
    height: 36.38vw;
    object-fit: cover;
    border-radius: 50px;
}
.contents .wrap .limit {
    width: 33%;
}
.contents .wrap .limit h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
    text-align: center;
    margin-bottom: 40px;
}
.contents .wrap .limit h2:hover {
    color:#94E80B;
}
.contents .wrap .limit img {
    width: 100%;
    max-height: 524px;
    height: 36.38vw;
    object-fit: cover;
    border-radius: 50px;
}
.contents .wrap .image {
    overflow: hidden;
    border-radius: 50px;
}
.contents .wrap img {
    transition: 0.7s;
}
.contents .wrap img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

/* collection */
.collection_pc {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 160px;
}
.collection_pc .inner {
    display: flex;
    justify-content: space-between;
}
.collection_pc .inner .wrap_left {
    width: 66%;
}
.collection_pc .inner .wrap_left .top {
    width: 100%;
    max-height: 323px;
    height: 22.43vw;
    overflow: hidden;
    border-radius: 50px;
}
.collection_pc .inner .wrap_left .top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collection_pc .inner .wrap_left .middle {
    width: 100%;
    max-height: 277px;
    height: 19.23vw;
    background-color: #eee;
    border-radius: 50px;
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
}
.collection_pc .inner .wrap_left .middle .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.collection_pc .inner .wrap_left .middle h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
}
.collection_pc .inner .wrap_left .middle p {
    font-size: 24px;
}
.collection_pc .inner .wrap_left .bt {
    display: flex;
    justify-content: space-between;
}
.collection_pc .inner .wrap_left .bt .bt_left {
    width: 49%;
    max-height: 224px;
    height: 15.55;
    overflow: hidden;
    border-radius: 50px;
}
.collection_pc .inner .wrap_left .bt .bt_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collection_pc .inner .wrap_left .bt .bt_right {
    width: 49%;
    max-height: 224px;
    height: 15.55vw;
    overflow: hidden;
    border-radius: 50px;
}
.collection_pc .inner .wrap_left .bt .bt_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collection_pc .inner .wrap_right {
    width: 32%;
}
.collection_pc .inner .wrap_right .top {
    width: 100%;
    max-height: 528px;
    height: 36.66vw;
    overflow: hidden;
    border-radius: 50px;
}
.collection_pc .inner .wrap_right .top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collection_pc .inner .wrap_right .bt {
    width: 100%;
    max-height: 323px;
    height: 22.43vw;
    margin-top: 24px;
    overflow: hidden;
    border-radius: 50px;
}
.collection_pc .inner .wrap_right .bt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collection_pc .inner img {
    transition: 0.7s;
}
.collection_pc .inner img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

/* text_slide */
.text_slide {
    height: 80px;
    background-color: #000;
    padding: 15px 0;
    white-space: nowrap;
    overflow: hidden;
}
.text_slide img {
    height: 100%;
    object-fit: cover;
    animation: textslide 30s infinite linear;
}
@keyframes textslide {
    0%{}
    100%{
        transform: translate(-100%,0);
    }
}

/* custom */
.custom_pc {
    width: 100%;
    padding: 160px 0;
}
.custom .inner {
    width: 100%;
    max-height: 615px;
    height: 32.03vw;
}
.custom_pc .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* jibbitz */
.jibbitz .inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.jibbitz .inner .title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.jibbitz .inner .title h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
}
.jibbitz .inner .title .tag ul {
    display: flex;
    align-items: end;
    gap: 10px;
}
.jibbitz .inner .title .tag ul li {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}
.jibbitz .inner .title .tag li.active {
    background-color: #EA3C96;
    color:#fff;
}
.jibbitz .inner .title .tag li.active::before {
    background-color: #fff;
}
.jibbitz .inner .title .tag ul > li {
    position: relative;
}
.jibbitz .inner .title .tag ul > li:hover {
    cursor: pointer;
}
.jibbitz .inner .title .tag  ul > li::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #EA3C96;
    border: 2px solid #000;
    border-radius: 50px;
    position: absolute;
    left: -1px;
    top: 4px;
    z-index: -1;
}
.jibbitz .inner .pc_item_wrap {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 17px;
    display: none;
}
.jibbitz .inner .pc_item_wrap.active {
    display: flex;
}
.jibbitz .inner .pc_item_wrap .item {
    width: 19%;
}
.jibbitz .inner .pc_item_wrap .item .image {
    width: 100%;
    max-height: 272px;
    height: 19.09vw;
    background-color: #eee;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.jibbitz .inner .pc_item_wrap .item .image img {
    width: 90%;
}
.jibbitz .inner .pc_item_wrap .item .image .text {
    width: 100%;
    height: 90px;
    font-size: 16px;
    border-radius: 0 0 50px 50px;
    text-align: center;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.jibbitz .inner .pc_item_wrap .item:hover .text {
    display: block;
}
.jibbitz .inner .pc_item_wrap .item .image .text span {
    color: #D70000;
    margin-right: 10px;
    font-size: 18px;
}
.jibbitz .inner .pc_item_wrap .item .image .text strong {
    font-size: 18px;
}
.jibbitz .inner .btn {
    width: 175px;
    height: 52px;
    background-color: #EA3C96;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
    border: 2px solid #000;
    position: relative;
    font-weight: bold;
    margin: 70px auto 0;
}
.jibbitz .inner .btn a {
    display: block;
}
.jibbitz .inner .btn::before {
    content: '';
    width: 170px;
    height: 52px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #000;
    position: absolute;
    left: -1px;
    top: 2px;
    z-index: -1;
}
.jibbitz .inner .btn:hover {
    background-color: #94E80B;
    color: #333;
}

/* collabo */
.collabo {
    padding-top: 160px;
}
.collabo .inner {
    width: 100%;
}
.collabo .inner .title {
    text-align: center;
}
.collabo .inner .title h2 {
    font-family: 'LOTTERIACHABA1';
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
}
.collabo .inner .title p {
    font-size: 24px;
}
.collabo .inner .bg {
    width: 100%;
    max-height: 657px;
    height: 34.21vw;
    margin-top: 70px;
    background-color: #000;
    overflow-x: hidden;
}
.collabo .inner .bg::-webkit-scrollbar { 
    /* Y축 스크롤바 변경 */
    display: none;
}
.collabo .inner .bg .item_wrap {
    max-width: 1920px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 1;
}
.collabo .inner .bg .item_wrap > div {
    width: 30%;
}
.collabo .inner .bg .item_wrap li {
    width: 100%;
    max-height: 535px;
    height: 37.15vw;
    border-radius: 50px;  
}
.collabo .inner .bg .item_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.collabo .inner .bg .item_wrap ul li {
    margin-bottom: 120px;
}
.collabo .inner .bg .item_wrap img:hover {
    opacity: 0.7;
}
.collabo .inner .bg .item_wrap .left_wrap {
    margin-top: 120px;
}
.collabo .inner .bg .item_wrap .middle_wrap {
    margin-top: 240px;
}
.collabo .inner .bg .item_wrap .right_wrap {
    margin-top: 120px;
}

/* event */
.event {
    width: 100%;
    background-color: #eee;
}
.event .wrap {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
}
.event .wrap .item {
    width: 32.22%;
    max-height: 199px;
    height: 13.81vW;
    text-align: center;
    border-radius: 50px;
    border: 3px solid #000;
}
.event .wrap .item:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.event .wrap .item h3 {
    font-size: 24px;
    margin-top: 25px;
}
.event .wrap .item:nth-child(1) {
    background-color: #FF75BC;
}
.event .wrap .item:nth-child(1) img {
    max-height: 90px;
    height: 6.25vw;
    margin-top: 20px;
}
.event .wrap .item:nth-child(2) {
    background-color: #FEE100;
}
.event .wrap .item:nth-child(2) img {
    max-height: 110px;
    height: 7.63vw;
    margin-top: 10px;
}
.event .wrap .item:nth-child(3) {
    background-color: #B8F652;
}
.event .wrap .item:nth-child(3) img { 
    max-height: 100px;
    height: 6.94vw;
    margin-top: 20px;
}

/* top_footer */
.top_footer {
    width: 100%;
    background-color: #94E80B;
}
.top_footer .wrap {
    max-width: 1440px;
    width: calc(100% - 40px);
    max-height: 85px;
    height: 5.90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.top_footer .wrap .bt_menu {
    font-size: 16px;
    font-weight: bold;
}
.top_footer .wrap .bt_menu ul {
    display: flex;
}
.top_footer .wrap .bt_menu ul li {
    padding:  0 30px;
}
.top_footer .wrap .bt_menu ul li:nth-child(1) {
    padding: 0 30px 0 0;
}
.top_footer .wrap .sns {
    display: flex;
    gap: 20px;
}
.top_footer .wrap .sns img {
    max-width: 46px;
    width: 3.19vw;
    border-radius: 10px;
}
.top_footer .wrap .sns img:hover {
    scale: 1.05;
}

/* bt_footer */
.bt_footer_pc {
    width: 100%;
    background-color: #000;
    color: #fff;
}
.bt_footer_pc .inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.bt_footer_pc .inner .left li {
    white-space: nowrap;
    position: relative;
}
.bt_footer_pc .inner .left ul li::after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0,-50%);
}
.bt_footer_pc .inner .left ul li:nth-child(1)::after {
    display: none;
}
.bt_footer_pc .inner .left .text-01 ul {
    display: flex;
    gap: 21px;
    font-size: 16px;
    margin-bottom: 40px;
}
.bt_footer_pc .inner .left .text-01 ul li:nth-child(2) {
    font-weight: bold;
}
.bt_footer_pc .inner .left .text-02 ul {
    display: flex;
    gap: 21px;
    font-size: 16px;
    margin-bottom: 8px;
}
.bt_footer_pc .inner .left .text-02 a {
    text-decoration: underline;
}
.bt_footer_pc .inner .left .copy {
    font-size: 14px;
    margin-top: 70px;
}
.bt_footer_pc .inner .right {
    text-align: center;
}
.bt_footer_pc .inner .right img {
    width: 80px;
    margin-top: 80px;
}
.bt_footer .inner .right p {
    font-size: 14px;
    display: block;
    margin-top: 20px;
}
.bt_footer_pc .inner .right a {
    text-decoration: underline;
}

/* 1700px */
@media screen and (max-width: 1700px) {
    .collabo .inner .bg .item_wrap li {
        width: 100%;
        max-height: 456px;
        height: 26.82vw;
    }
    .collabo .inner .bg .item_wrap li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* 1410 */
@media screen and (max-width: 1410px) {
    .main_visual.pc {
        display: none;
    }
    .main_visual.mobile {
        display: block;
        position: relative;
    }
    .main_visual.mobile .title {
        font-family: 'Maplestory';
        color: #fff;
        -webkit-text-stroke: 3px #000;
        display: flex;
        gap: 20px;
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
    .main_visual.mobile .title .title_crocs h2 {
        font-size: 68px;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(1) {
        font-size: 40px;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(2) {
        font-size: 68px;
    }
}

/* 1280px */
@media screen and (max-width: 1280px) {
    .mobile {display: block;}
    .pc {display: none;}

    /* header */
    .header .inner .header_wrap .menu_btn ul {
        display: flex;
    }
    .header .inner .header_wrap .menu_btn {
        height: 24px;
    }
    .header .inner .header_wrap .menu_btn ul {
        gap: 24px;
    }
    .header .inner .header_wrap .menu_btn a {
        height: 24px;
        display: block;
    }
    .header .inner .header_wrap .menu_btn img {
        height: 100%;
        display: block;
    }
    .header .inner .nav_mobile {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 100%;
        top: 120px;
        background-color: #eee;
        z-index: 9;
        overflow: auto;
    }
    .header .inner .nav_mobile::-webkit-scrollbar {
        display: none;
    }
    .header .inner .nav_mobile .gnb .depth01 {
        width: 100%;
        height: 100px;
        line-height: 100px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #333;
        display: block;
        padding-left: 20px;
    }
    .header .inner .nav_mobile .gnb .depth01 {
        position: relative;
    }
    .header .inner .nav_mobile .gnb .depth01::before {
        content: '';
        background: url('../img/로고,아이콘/다음버튼.png') center center / auto no-repeat;
        /* 100%만 작성했을 때 => 가로값이 기준이 됨(하나만 썼을 경우) / auto 추가 했을 때(두개 썼을 경우) => 세로값에도 맞춰지기 때문에 이미지가 깨지지 않음 */
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .header .inner .nav_mobile .gnb.on .depth01 {
        text-align: center;
    }
    .header .inner .nav_mobile .gnb.on .depth01::before {
        content: '';
        background: url('../img/로고,아이콘/이전버튼.png') center center / auto 100% no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .header .inner .nav_mobile .gnb .depth02 {
        display: none;
    }
    .header .inner .nav_mobile .gnb.on .depth02 {
        display: block;
    }
    .header .inner .nav_mobile .gnb.on .depth02 li {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        border-bottom: 1px solid #999;
        padding-left: 10px;
    }
    .header .inner .nav_mobile .gnb.on > li:nth-child(4) .depth02 li:first-child {
        border-bottom: none;
    }
    .header .inner .nav_mobile .gnb.on > li:nth-child(4) .depth02 li:nth-child(2) {
        border-bottom: none;
        background-color: #ddd;
    }
    .header .inner .nav_mobile .gnb.on > li:nth-child(4) .depth02 li:nth-child(6) {
        border-bottom: none;
    }
    .header .inner .nav_mobile .gnb.on > li:nth-child(4) .depth02 li:nth-child(7) {
        border-bottom: none;
        background-color: #ddd;
    }
    .header .inner .nav_mobile .gnb.on .depth02 li:first-child {
        width: 100%;
        height: 80px;
        line-height: 80px;
    }
    .header .inner .nav_mobile .gnb.on > li.on {
        display: none;
    }
    .header .inner .nav_mobile .gnb .depth02 > li {
        padding-bottom: 10px;
    }
    .header .inner .nav_mobile.active {
        left: 0;
    }

    /* contents */
    .contents {
        padding: 120px 0;
        margin: 0 auto;
    }
    .contents .wrap .sale h2 {
        font-size: 68px;
        margin-bottom: 20px;
    }
    .contents .wrap .new h2 {
        font-size: 68px;
        margin-bottom: 20px;
    }
    .contents .wrap .limit h2 {
        font-size: 68px;
        margin-bottom: 20px;
    }
    .contents .wrap .image {
        border-radius: 50px;
    }
    .contents .wrap .sale img {
        width: 100%;
        max-height: 300px;
        height: 31.25vw;
        border-radius: 50px;
    }
    .contents .wrap .new img {
        width: 100%;
        max-height: 300px;
        height: 31.25vw;
        border-radius: 50px;
    }
    .contents .wrap .limit img {
        width: 100%;
        max-height: 300px;
        height:  31.25vw;
        border-radius: 50px;
    }

    /* collection */
    .collection_pc {
        padding-bottom: 120px;
    }
    .collection_pc .inner .wrap_left .middle h2 {
        font-size: 68px;
    }
    .collection_pc .inner .wrap_left .middle p {
        font-size: 20px;
    }

    /* custom */
    .custom_pc {
        padding: 120px 0;
    }

    /* jibbitz */
    .jibbitz .inner .title {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .jibbitz .inner .title h2 {
        font-size: 68px;
    }
    .jibbitz .inner .title .tag ul li {
        font-size: 20px;
    }
    .jibbitz .inner .pc_item_wrap {
        display: none;
    }
    .jibbitz .inner .pc_item_wrap.active {
        display: none;
    }
    .jibbitz .inner .mobile_item_wrap {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 10px;
        display: none;
    }
    .jibbitz .inner .mobile_item_wrap.active {
        display: flex;
    }
    .jibbitz .inner .mobile_item_wrap .item {
        width: 19%;
    }
    .jibbitz .inner .mobile_item_wrap .item .image {
        width: 100%;
        max-height: 230px;
        height: 17.96vw;
        background-color: #eee;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .jibbitz .inner .mobile_item_wrap .item .image img {
        width: 90%;
    }
    .jibbitz .inner .mobile_item_wrap .item .image .text {
        width: 100%;
        height: 60px;
        font-size: 14px;
        border-radius: 0 0 25px 25px;
        text-align: center;
        padding-top: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .jibbitz .inner .mobile_item_wrap .item .image .text span {
        color: #D70000;
        margin-right: 5px;
    }

    /* collabo */
    .collabo {
        padding-top: 120px;
    }
    .collabo .inner .bg .item_wrap li {
        max-width: 353px;
        width: 27.57vw;
        max-height: 363px;
        height: 28.35vw;
    }
    .collabo .inner .bg .item_wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collabo .inner .title h2 {
        font-size: 68px;
    }
    .collabo .inner .title p {
        font-size: 20px;
    }

    /* event */
    .event .wrap {
        padding: 120px 0;
    }
    .event .wrap .item h3 {
        font-size: 18px;
    }
    .event .wrap .item:nth-child(1) img {
        max-height: 80px;
        height: 6.25vw;
        margin-top: 15px;
    }
    .event .wrap .item:nth-child(2) img {
        max-height: 90px;
        height: 7.03vw;
        margin-top: 8px;
    }
    .event .wrap .item:nth-child(3) img {
        max-height: 80px;
        height: 6.25vw;
        margin-top: 15px;
    }
}

/* 960 */
@media screen and (max-width: 960px) {

    /* header */
    .header {
        height: 142px;
    }
    .header .inner .notice_top {
        height: 40px;
    }
    .header .inner .notice_top p {
        font-size: 14px;
    }
    .header_wrap {
        height: 60px;
    }
    .header .inner .notice_bt {
        height: 42px;
    }
    .header .inner .notice_bt p {
        font-size: 14px;
    }
    .header .inner .nav_mobile {
        top: 100px;
    }

    /* main_visual */
    .main_visual {
        max-height: 1239px;
        height: 129.06vw;
    }
    .main_visual.mobile .title .title_crocs h2 {
        font-size: 50px;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(1) {
        font-size: 32px;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(2) {
        font-size: 50px;
    }

    /* contents */
    .contents {
        padding: 100px 0;
        margin: 0 auto;
    }
    .contents .wrap .sale h2 {
        font-size: 60px;
        margin-bottom: 10px;
        -webkit-text-stroke: 1px #000;
    }
    .contents .wrap .new h2 {
        font-size: 60px;
        margin-bottom: 10px;
        -webkit-text-stroke: 1px #000;
    }
    .contents .wrap .limit h2 {
        font-size: 60px;
        margin-bottom: 10px;
        -webkit-text-stroke: 1px #000;
    }
    .contents .wrap .image {
        border-radius: 25px;
    }
    .contents .wrap .sale img {
        border-radius: 25px;
    }
    .contents .wrap .new img {
        border-radius: 25px;
    }
    .contents .wrap .limit img {
        border-radius: 25px;
    }

    /* collection */
    .collection_pc {
        display: none;
    }
    .collection_mobile {
        max-width: 960px;
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: 100px;
        display: block;
        position: relative;
    }
    .collection_mobile .inner .top {
        width: 100%;
        max-height: 313px;
        height: 32.60vw;
        margin-bottom: 20px;
    }
    .collection_mobile .inner .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .collection_mobile .inner .md {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .collection_mobile .inner .md .wrap_left {
        width: 64.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .collection_mobile .inner .md .wrap_left .title {
        width: 100%;
        height: 48%;
        border-radius: 25px;
        background-color: #eee;
        position: relative;
    }
    .collection_mobile .inner .md .wrap_left .title .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .collection_mobile .inner .md .wrap_left .title h2 {
        font-family: 'LOTTERIACHABA1';
        font-size: 55px;
        color: #fff;
        text-align: center;
        -webkit-text-stroke: 1px #000;
    }
    .collection_mobile .inner .md .wrap_left .titl p {
        font-size: 18px;
        text-align: center;
    }
    .collection_mobile .inner .md .wrap_left .item {
        width: 100%;
        height: 48%;
        border-radius: 25px;
    }
    .collection_mobile .inner .md .wrap_left .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .collection_mobile .inner .md .wrap_right {
        width: 32.5%;
    }
    .collection_mobile .inner .md .wrap_right img {
        width: 100%;
        max-height: 476px;
        height: 49.58vw;
        object-fit: cover;
        border-radius: 25px;
    }
    .collection_mobile .inner .bt {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .collection_mobile .inner .bt .item_left {
        width: 48.5%;
        max-height: 217px;
        height: 22.60vw;
    }
    .collection_mobile .inner .bt .item_left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .collection_mobile .inner .bt .item_right {
        width: 48.5%;
        max-height: 217px;
        height: 22.60vw;
    }
    .collection_mobile .inner .bt .item_right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    /* text_silde */
    .text_slide {
        height: 60px;
        padding: 8px 0;
    }

    /* custom */
    .custom .custom_pc {
        display: none;
    }
    .custom .custom_mobile {
        display: block;
        width: 100%;
        padding: 100px 0;
    }
    .custom .custom_mobile .inner {
        width: 100%;
        max-height: 485px;
        height: 50.52vw;
    }
    .custom .custom_mobile .inner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* jibbitz */
    .jibbitz .inner .title {
        display: block;
    }
    .jibbitz .inner .title h2 {
        font-size: 60px;
        -webkit-text-stroke: 1px #000;
    }
    .jibbitz .inner .title .tag {
        padding-bottom: 10px;
        margin-top: 10px;
        overflow-x: auto;
    }
    .jibbitz .inner .title .tag::-webkit-scrollbar {
        display: none;
    }
    .jibbitz .inner .title .tag ul {
        justify-content: center;
    }
    .jibbitz .inner .title .tag ul li {
        white-space: nowrap;
        font-size: 16px;
    }
    .jibbitz .inner .mobile_item_wrap {
        margin-top: 30px;
    }
    .jibbitz .inner .mobile_item_wrap .item {
        width: 23%;
    }
    .jibbitz .inner .mobile_item_wrap .item .image {
        width: 100%;
        max-height: 176px;
        height: 18.33vw;
        border-radius: 25px;
    }
    .jibbitz .inner .mobile_item_wrap .item:nth-child(5n) {
        display: none;
    }
    .jibbitz .inner .mobile_item_wrap .item .image .text {
        font-size: 14px;
    }
    .jibbitz .inner .btn {
        width: 143px;
        height: 43px;
        padding-top: 7px;
        margin: 40px auto 0;
    }
    .jibbitz .inner .btn::before {
        width: 139px;
        height: 41px;
    }

    /* collabo */
    .collabo {
        padding-top: 100px;
    }
    .collabo .inner .title h2 {
        font-size: 60px;
        -webkit-text-stroke: 1px #000;
    }
    .collabo .inner .title p {
        font-size: 18px;
    }
    .collabo .inner .bg {
        width: 100%;
        max-height: 660px;
        height: 68.75vw;
        margin-top: 40px;
    }
    .collabo .inner .bg .item_wrap {
        max-width: 960px;
        width: calc(100% - 40px);
    }
    .collabo .inner .bg .item_wrap img {
        border-radius: 25px;
    }
    .collabo .inner .bg .item_wrap .left_wrap {
        margin-top: 60px;
    }
    .collabo .inner .bg .item_wrap .middle_wrap {
        margin-top: 120px;
    }
    .collabo .inner .bg .item_wrap .right_wrap {
        margin-top: 60px;
    }
    .collabo .inner .bg .item_wrap ul li {
        margin-bottom: 60px;
    }

    /* event */
    .event .wrap {
        padding: 100px 0;
    }
    .event .wrap .item {
        max-height: 127px;
        height: 13.22vw;
        border-radius: 25px;
    }
    .event .wrap .item h3 {
        font-size: 14px;
        margin-top: 10px;
    }

    /* top_footer */
    .top_footer .wrap {
        max-width: 960px;
        width: calc(100% - 40px);
        max-height: 54px;
        height: 5.62vw;
    }
    .top_footer .wrap .bt_menu {
        font-size: 14px;
    }
    .top_footer .wrap .sns img {
        max-width: 25px;
        width: 2.60vw;
        border-radius: 5px;
        display: block;
    }

    /* bt_footer */
    .bt_footer_pc {
        display: none;
    }
    .bt_footer_mobile {
        width: 100%;
        background-color: #000;
        color: #fff;
        display: block;
        font-size: 12px;
    }
    .bt_footer_mobile .inner {
        max-width: 960px;
        width: calc(100% - 40px);
        padding: 40px 0;
        margin: 0 auto;
    }
    .bt_footer_mobile .inner .top .text-01 {
        margin-bottom: 20px;
    }
    .bt_footer_mobile .inner .top .text-01 ul {
        display: flex;
    }
    .bt_footer_mobile .inner .top .text-02 ul {
        display: flex;
    }
    .bt_footer_mobile .inner .top .text-02 a {
        text-decoration: underline;
    }
    .bt_footer_mobile .inner .top ul {
        margin-bottom: 5px;
        gap: 15px;
    }
    .bt_footer_mobile .inner .top ul li {
        position: relative;
    }
    .bt_footer_mobile .inner .top ul li::after {
        content: '';
        width: 1px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        left: -7px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .bt_footer_mobile .inner .top ul li:nth-child(1)::after {
        display: none;
    }
    .bt_footer_mobile .inner .top .text-01 ul li:nth-child(2) {
        font-weight: bold;
    }
    .bt_footer_mobile .inner .bottom {
        display: flex;
        justify-content: space-between;
    }
    .bt_footer_mobile .inner .bottom .kcp {
        margin-top: 40px;
        display: flex;
        gap: 15px;
    }
    .bt_footer_mobile .inner .bottom .kcp img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .bt_footer_mobile .inner .bottom .kcp p {
        margin-top: 5px;
    }
    .bt_footer_mobile .inner .bottom .kcp p a {
        text-decoration: underline;
    }
    .bt_footer_mobile .inner .bottom .copy {
        margin-top: 85px;
    }
}

/* 760 */
@media screen and (max-width: 760px) {

    /* contents */
    .contents .wrap {
        overflow-x: auto;
        justify-content: flex-start;
    }
    .contents .wrap::-webkit-scrollbar {
        display: none;
    }
    .contents .wrap > div {
        min-width: 293px;
    }
    .contents .wrap .sale img {
        min-height: 300px;
    }
    .contents .wrap .new img {
        min-height: 300px;
    }
    .contents .wrap .limit img {
        min-height: 300px;
    }

    /* collection */
    .collection_mobile .inner .md {
        display: block;
    }
    .collection_mobile .inner .bt .item_left {
        display: block;
    }
    .collection_mobile .inner .top {
        width: 100%;
        height: 30vw;
    }
    .collection_mobile .inner .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collection_mobile .inner .md .wrap_left {
        width: 100%;
    }
    .collection_mobile .inner .md .wrap_left .title {
        width: 100%;
        height: 30vw;
        margin-bottom: 20px;
    }
    .collection_mobile .inner .md .wrap_left .item {
        width: 100%;
        height: 30vw;
        margin-bottom: 20px;
    }
    .collection_mobile .inner .md .wrap_left .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collection_mobile .inner .md .wrap_right {
        width: 48%;
        height: 50vw;
        margin-bottom: 20px;
    }
    .collection_mobile .inner .md .wrap_right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collection_mobile .inner .bt {
        width: 100%;
    }
    .collection_mobile .inner .bt .item_left {
        width: 100%;
        height: 30vw;
        max-height: none;
    }
    .collection_mobile .inner .bt .item_left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collection_mobile .inner .bt .item_right {
        width: 48%;
        height: 50vw;
        position: absolute;
        right: 0;
        bottom: calc(30vw + 20px);
        max-height: 476px;
    }
    .collection_mobile .inner .bt .item_right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* jibbitz */
    .jibbitz .inner .mobile_item_wrap {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .jibbitz .inner .mobile_item_wrap::-webkit-scrollbar {
        display: none;
    }
    .jibbitz .inner .mobile_item_wrap .item {
        min-width: 174px;
        min-height: 176px;
    }
    .jibbitz .inner .mobile_item_wrap .item .image {
        width: 100%;
        height: 100%;
    }
    .jibbitz .inner .title .tag ul li {
        font-size: 14px;
    }
    .jibbitz .inner .btn {
        margin: 60px auto 0;
    }

    /* collabo */
    .collabo .inner .title #title {
        display: none;
    }

    /* event */
    .event .wrap {
        overflow-x: auto;
        gap: 10px;
    }
    .event .wrap::-webkit-scrollbar {
        display: none;
    }
    .event .wrap .item {
        min-width: 293px;
        height: 127px;
    }
    .event .wrap .item:nth-child(1) img {
        min-width: 153px;
        min-height: 58px;
    }
    .event .wrap .item:nth-child(2) img {
        min-width: 84px;
        min-height: 70px;
    }
    .event .wrap .item:nth-child(3) img {
        min-width: 82px;
        min-height: 70px;
    }
    .event .wrap .item h3 {
        font-size: 16px;
        margin-top: 12px;
    }

    /* top_footer */
    footer {
        position: relative;
    }
    .top_footer .wrap .sns {
        position: absolute;
        right: 20px;
        top: 70px;
    }
    .top_footer .wrap {
        display: block;
    }
    .top_footer .wrap .bt_menu ul {
        display: flex;
        justify-content: space-between;
        line-height: 5.62vw;
    }
    .top_footer .wrap .bt_menu ul li {
        padding: 0;
    }
    .top_footer .wrap .bt_menu ul li:first-child {
        padding: 0;
    }
    .top_footer .wrap .sns img {
        max-width: 30px;
        width: 3.94vw;
        max-height: 30px;
        height: 3.94vw;;
    }

    /* bt_footer */
    .bt_footer_mobile .inner .bottom {
        display: block;
    }
    .bt_footer_mobile .inner .bottom .copy {
        margin-top: 40px;
    }
    .bt_footer_mobile .inner .top ul:nth-child(2) {
       display: block;
    }
    .bt_footer_mobile .inner .top ul:nth-child(2) li:nth-child(2)::after {
        display: none;
    }
}


/* 570 */
@media screen and (max-width: 570px) {

    .jibbitz .inner .title .tag ul {
        justify-content: flex-start;
    }
}

/* 510 */

/* header */
@media screen and (max-width: 510px) {

    /* header */
    .header {
        height: 112px;
    }
    .header .inner .notice_top {
        height: 30px;
    }
    .header .inner .notice_top p {
        font-size: 12px;
        line-height: 30px;
    }
    .header_wrap {
        height: 50px;
    }
    .header_wrap .logo {
        height: 30px;
    }
    .header .inner .header_wrap .menu_btn {
        height: 16px;
    }
    .header .inner .header_wrap .menu_btn a {
        height: 16px;
    }
    .header .inner .header_wrap .menu_btn ul {
        gap: 15px;
    }
    .header .inner .notice_bt {
        height: 32px;
    }
    .header .inner .notice_bt p {
        font-size: 12px;
        line-height: 32px;
    }
    .header .inner .nav_mobile {
        top: 80px;
    }

    /* main_visual */
    .main_visual {
        max-height: 809px;
        height: 195.41vw;
    }
    .main_visual.mobile .title .title_crocs h2 {
        display: none;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(1) {
        font-size: 30px;
    }
    .main_visual.mobile .title .title_loopy h2:nth-child(2) {
        font-size: 50px;
    }
    .main_visual.mobile .title {
        -webkit-text-stroke: 2px #000;
    }

    /* contents */
    .contents {
        padding: 80px 0;
    }
    .contents .wrap .sale h2 {
        font-size: 48px;
        margin-bottom: 5px;
    }
    .contents .wrap .new h2 {
        font-size: 48px;
        margin-bottom: 5px;
    }
    .contents .wrap .limit h2 {
        font-size: 48px;
        margin-bottom: 5px;
    }

    /* collection */
    .collection_mobile .inner .md .wrap_left .title h2 {
        font-size: 40px;
    }
    .collection_mobile .inner .md .wrap_left .title p {
        text-align: center;
        font-size: 14px;
    }
    .collection_mobile .inner .md .wrap_left .title span {
        display: block;
    }
    .collection_mobile {
        margin-bottom: 80px;
    }

    /* text_slide */
    .text_slide {
        height: 40px;
        padding: 5px 0;
    }

    /* custom */
    .custom .custom_mobile {
        display: none;
    }
    .custom .custom_mobile-02 {
        width: 100%;
        display: block;
        padding: 80px 0;
    }
    .custom .custom_mobile-02 .inner {
        width: 100%;
        max-height: 296px;
        height: 71.49vw;
        margin: 0 auto;
    }
    .custom .custom_mobile-02 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* jibbitz */
    .jibbitz .inner .title h2 {
        font-size: 48px;
    }
    .jibbitz .inner .title .tag ul li {
        font-size: 12px;
        padding: 8px 20px;
    }
    .jibbitz .inner .title .tag ul li::before {
        left: -2px;
        top: 3px;
    }
    .jibbitz .inner .btn {
        width: 120px;
        height: 38px;
        font-size: 12px;
    }
    .jibbitz .inner .btn::before {
        width: 116px;
        height: 38px;
    }

    /* collabo */
    .collabo {
        padding-top: 80px;
    }
    .collabo .inner .title h2 {
        font-size: 48px;
    }
    .collabo .inner .title p {
        font-size: 16px;
    }
    .collabo .inner .title #text {
        display: block;
    }
    .collabo .inner .bg {
        max-height: 415px;
        height: 100.24vw;
        margin-top: 20px;
    }
    .collabo .inner .bg .item_wrap ul li {
        margin-bottom: 30px
    }
    .collabo .inner .bg .item_wrap .left_wrap {
        margin-top: 30px;
    }
    .collabo .inner .bg .item_wrap .middle_wrap {
        margin-top: 60px;
    }
    .collabo .inner .bg .item_wrap .right_wrap {
        margin-top: 30px;
    }

    /* event */
    .event .wrap {
        padding: 80px 0;
    }
    .event .wrap .item {
        min-width: 230px;
        height: 100px;
    }
    .event .wrap .item h3 {
        font-size: 12px;
    }
    .event .wrap .item:nth-child(1) img {
        min-width: 104px;
        min-height: 43px;
    }
    .event .wrap .item:nth-child(2) img {
        min-width: 63px;
        min-height: 52px;
    }
    .event .wrap .item:nth-child(3) img {
        min-width: 60px;
        min-height: 51px;
    }

    /* top_footer */
    .top_footer .wrap .inner {
        max-height: 42px;
        height: 10.14vw;
    }
    .top_footer .wrap .bt_menu {
        font-size: 10px;
    }

    /* bt_footer */
    .bt_footer_mobile .inner {
        padding: 30px 0;
    }
    .bt_footer_mobile {
        font-size: 10px;
    }
    .bt_footer_mobile .inner .top ul {
        gap: 11px;
    }
    .bt_footer_mobile .inner .top ul li::after {
        left: -5px;
    }
    .top_footer .wrap .sns {
        top: 55px;
    }
    .top_footer .wrap .sns img {
        max-width: 15px;
        width: 10.63vw;
        max-height: 15px;
        height: 10.63vw;
    }
    .bt_footer_mobile .inner .top .text-01 {
        margin-bottom: 15px;
    }
    .bt_footer_mobile .inner .bottom .kcp {
        margin-top: 20px;
    }
}
