@font-face {
    font-family: 'LOTTERIACHABA1.eot';
    src: url('font/롯데리아촵땡겨체/LOTTERIACHABA1.eot');
    src: url('font/롯데리아촵땡겨체/LOTTERIACHABA1.eot?#iefix') format('embedded-opentype'),
        url('font/롯데리아촵땡겨체/LOTTERIACHABA1.woff2') format('woff2'),
        url('font/롯데리아촵땡겨체/LOTTERIACHABA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

